header {
    text-align: center;
    padding: 4em;
}
.avatar {
    width: 3.75em;
    border-radius: 50%;
    margin: 0 10px 5px;
  }
  
.normal{
      font-weight: normal;
    }
    
.mat-card {
    max-width: 400px;
    }
      
.example-header-image {
        
    background-size: cover;
    }